h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0; }

.stockists .search {
  position: relative;
  overflow: hidden;
  width: 255px;
  display: block;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .stockists .search {
      width: 390px; } }
  .stockists .search .form-group .form-control {
    width: 230px;
    height: 30px;
    font-size: 13px;
    padding: 5px;
    padding-top: 0;
    border-color: #fff;
    border-bottom-color: #2b2b2b; }
    @media (min-width: 768px) {
      .stockists .search .form-group .form-control {
        width: 365px; } }
  .stockists .search .btn-search {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 30px;
    padding: 0;
    background-color: #fff; }
    .stockists .search .btn-search:before {
      font-family: 'fontello';
      font-size: 14px;
      content: '\E801'; }
.stockists .stockists-list {
  margin-top: 113px; }
  @media (min-width: 768px) {
    .stockists .stockists-list ul li:nth-of-type(2n + 1) {
      clear: both; }
      .stockists .stockists-list ul li:nth-of-type(2n + 1) dl {
        padding-left: 30px;
        padding-right: 50px; }
    .stockists .stockists-list ul li:nth-of-type(2n + 2) dl {
      padding-left: 80px; } }
  @media (min-width: 992px) {
    .stockists .stockists-list ul li:nth-of-type(2n + 1) {
      clear: none; }
      .stockists .stockists-list ul li:nth-of-type(2n + 1) dl {
        padding-left: 0;
        padding-right: 0; }
    .stockists .stockists-list ul li:nth-of-type(2n + 2) dl {
      padding-left: 0; }
    .stockists .stockists-list ul li:nth-of-type(3n + 1) {
      clear: both; }
      .stockists .stockists-list ul li:nth-of-type(3n + 1) dl {
        padding-left: 55px;
        padding-right: 50px; }
    .stockists .stockists-list ul li:nth-of-type(3n + 2) dl {
      padding-left: 70px;
      padding-right: 40px; }
    .stockists .stockists-list ul li:nth-of-type(3n + 3) dl {
      padding-left: 70px;
      padding-right: 50px; } }
  .stockists .stockists-list ul li dl {
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc; }
    @media (min-width: 768px) {
      .stockists .stockists-list ul li dl {
        border-bottom: 0;
        margin-bottom: 160px; } }
    @media (min-width: 992px) {
      .stockists .stockists-list ul li dl {
        margin-bottom: 180px; } }
    .stockists .stockists-list ul li dl dt {
      padding: 0 10px;
      margin-bottom: 30px; }
      .stockists .stockists-list ul li dl dt a {
        font-size: 15px;
        color: #2b2b2b;
        font-weight: 400; }
      @media (min-width: 768px) {
        .stockists .stockists-list ul li dl dt {
          padding: 0;
          margin-bottom: 35px; }
          .stockists .stockists-list ul li dl dt a {
            font-size: 17px; } }
      @media (min-width: 992px) {
        .stockists .stockists-list ul li dl dt a {
          font-size: 18px; } }
    .stockists .stockists-list ul li dl .stockists-addr {
      font-size: 11px;
      color: #666;
      line-height: 20px;
      padding: 0 10px;
      padding-bottom: 50px; }
      @media (min-width: 768px) {
        .stockists .stockists-list ul li dl .stockists-addr {
          padding: 0;
          font-size: 12px; } }
      .stockists .stockists-list ul li dl .stockists-addr .call a {
        position: relative;
        display: inline-block;
        font-size: 11px;
        color: #666;
        padding-left: 15px; }
        .stockists .stockists-list ul li dl .stockists-addr .call a:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "\E810";
          font-family: "fontello";
          font-size: 10px;
          color: #666; }
        .stockists .stockists-list ul li dl .stockists-addr .call a:after {
          content: ",";
          padding-left: 3px;
          padding-right: 10px; }
        .stockists .stockists-list ul li dl .stockists-addr .call a:last-child:after {
          content: "";
          padding-right: 0; }
      @media (min-width: 768px) {
        .stockists .stockists-list ul li dl .stockists-addr .call a {
          font-size: 12px; } }
      @media (min-width: 992px) {
        .stockists .stockists-list ul li dl .stockists-addr .call {
          display: none; } }
  .stockists .stockists-list .btn-area {
    margin-top: 30px; }
    .stockists .stockists-list .btn-area p .btn-lg {
      width: 300px; }
    @media (min-width: 768px) {
      .stockists .stockists-list .btn-area {
        margin-top: 20px; } }
    @media (min-width: 992px) {
      .stockists .stockists-list .btn-area {
        margin-top: 0; }
        .stockists .stockists-list .btn-area p .btn-lg {
          width: 370px; } }
.stockists .modal {
  padding-top: 180px;
  background-color: rgba(0, 0, 0, 0.5); }
  .stockists .modal .modal-dialog .modal-content {
    border-radius: 0; }
    .stockists .modal .modal-dialog .modal-content .modal-header {
      padding: 10px;
      padding-bottom: 0;
      border-bottom: 0; }
      @media (min-width: 768px) {
        .stockists .modal .modal-dialog .modal-content .modal-header {
          padding: 30px;
          padding-bottom: 0; } }
      .stockists .modal .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 15px;
        color: #2b2b2b;
        font-weight: 400;
        padding-top: 7px; }
        @media (min-width: 768px) {
          .stockists .modal .modal-dialog .modal-content .modal-header .modal-title {
            font-size: 16px; } }
      .stockists .modal .modal-dialog .modal-content .modal-header .close {
        opacity: 1;
        width: 30px;
        height: 30px;
        display: block;
        background-image: url(/ko/assets/images/stockists/close_btn.gif);
        background-repeat: no-repeat; }
    .stockists .modal .modal-dialog .modal-content .modal-body {
      padding: 20px 10px 15px; }
      @media (min-width: 768px) {
        .stockists .modal .modal-dialog .modal-content .modal-body {
          padding: 20px 30px 35px; } }
      .stockists .modal .modal-dialog .modal-content .modal-body dl {
        overflow: hidden;
        margin-bottom: 25px; }
        @media (min-width: 768px) {
          .stockists .modal .modal-dialog .modal-content .modal-body dl {
            margin-bottom: 35px; } }
        .stockists .modal .modal-dialog .modal-content .modal-body dl dt {
          float: left;
          clear: both;
          width: 25%;
          font-size: 11px;
          color: #2b2b2b;
          font-weight: 400; }
          .stockists .modal .modal-dialog .modal-content .modal-body dl dt.first-mb {
            margin-bottom: 15px; }
            @media (min-width: 768px) {
              .stockists .modal .modal-dialog .modal-content .modal-body dl dt.first-mb {
                margin-bottom: 10px; } }
          @media (min-width: 768px) {
            .stockists .modal .modal-dialog .modal-content .modal-body dl dt {
              width: 13%;
              font-size: 12px; } }
        .stockists .modal .modal-dialog .modal-content .modal-body dl dd {
          float: left;
          width: 75%;
          font-size: 11px;
          color: #666;
          line-height: 16px;
          font-weight: 300;
          padding-right: 20px; }
          .stockists .modal .modal-dialog .modal-content .modal-body dl dd.first-mb {
            margin-bottom: 15px; }
            @media (min-width: 768px) {
              .stockists .modal .modal-dialog .modal-content .modal-body dl dd.first-mb {
                margin-bottom: 10px; } }
          .stockists .modal .modal-dialog .modal-content .modal-body dl dd a {
            font-size: 11px;
            color: #666; }
          @media (min-width: 768px) {
            .stockists .modal .modal-dialog .modal-content .modal-body dl dd {
              width: 87%;
              font-size: 12px; }
              .stockists .modal .modal-dialog .modal-content .modal-body dl dd a {
                font-size: 12px; } }

/*# sourceMappingURL=stockists.css.map */
