@import 'common';

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

html {
    position: relative;
    min-width: 320px;
}

body {
    position: relative;
    min-width: 320px;
    @include noto();
    font-size: 12px;
    color: #2b2b2b;
}

a {
    color: #2b2b2b;
    &:hover, &:focus {
        color: #2b2b2b;
        text-decoration: none;
    }
}

.container,
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        @for $i from 1 through 12 {
            .col-xs-#{$i},
            .col-sm-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    @media (min-width: $sm) {
        padding-left: 20px;
        padding-right: 20px;
        .row {
            margin-left: -10px;
            margin-right: -10px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    @media (min-width: $md) {
        padding-left: 15px;
        padding-right: 15px;
        .row {
            margin-left: -15px;
            margin-right: -15px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

#header {
    .top-nav {
        height: 50px;
        background-color: #3b3b3b;
        .global {
            a {
                color: #fff;
                font-size: 12px;
            }
        }
    }
    .logo-nav {
        position: relative;
        height: 50px;
        h1 {
            padding-top: 12px;
            img {
                display: block;
                margin: 0 auto;
                width: 110px;
            }
        }
        .btn {
            position: absolute;
            top: 8px;
            padding: 0;
            width: 34px;
            height: 34px;
            background-color: #fff;
            border: 0;
            box-shadow: none;
        }
        .btn-open-aside {
            left: 3px;
            &:before {
                font-family: 'fontello';
                content: '\F008';
                font-size: 18px;    
            }
        }
        .btn-search {
            right: 3px;
            &:before {
                font-family: 'fontello';
                font-size: 18px;
                content: '\E801';
            }
        }
        .btn-cart {
            right: 34px;
            background-image: url('/assets/images/ico_basket.png');
            background-repeat: no-repeat;
            background-size: 20px auto;
            background-position: 50% 50%;
        }
        @media (min-width: $sm) {
            height: 75px;
            h1 {
                padding-top: 17px;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 172px;
                }
            }
            .btn {
                top: 10px;
                width: 54px;
                height: 55px;
            }
            .btn-open-aside {
                left: 5px;
                &:before {
                    font-size: 24px;
                }
            }
            .btn-search {
                right: 5px;
                &:before {
                    font-size: 24px;
                }
            }
            .btn-cart {
                right: 75px;
                background-size: 27px auto;
            }
        }
        @media (min-width: $lg) {
            height: 115px;
            h1 {
                padding-top: 37px;
                img {
                    width: auto;
                    max-width: 100%;
                }
            }
        }
    }
    #gnb {
        height: 40px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
        .container {
            > ul {
                display: inline-block;
                width: 300px;
                > li {
                    display: inline;
                    padding: 0;
                    > a {
                        float: left;
                        padding-left: 14px;
                        padding-right: 14px;
                        text-align: center;
                        @include lato();
                        line-height: 38px;
                        font-size: 11px;
                        font-weight: bold;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            height: 70px;
            .container {
                > ul {
                    width: 100%;
                    > li {
                        > a {
                            display: block;
                            float: none;
                            padding-left: 0;
                            padding-right: 0;
                            width: 100%;
                            height: 100%;
                            line-height: 68px;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        @media (min-width: $lg) {
            height: 48px;
            border-top: 0;
            border-bottom: 0;
            background-color: #eee;
            .container {
                > ul {
                    > li {
                        > a {
                            line-height: 48px;
                        }
                        > ul {
                            overflow: hidden;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            height: auto;
                            background-color: #eee;
                            > li {
                                > a {
                                    color: #666;
                                    line-height: 35px;
                                    font-size: 13px;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#content {
    min-height: 300px;
}

#footer {
    padding-top: 25px;
    padding-bottom: 25px;
    @include maven();
    @include font(12px, 18px);
    color: #666;
    .company {
        p {
            display: inline;
        }
        ul {
            display: inline;
            li {
                display: inline;
                &:before {
                    display: inline-block;
                    padding-left: 3px;
                    padding-right: 5px;
                    content: '|';
                }
            }
        }
    }
    .policy {
        margin-top: 15px;
        ul {
            li {
                display: inline;
                a {
                    color: #666;
                }
                & + li {
                    margin-left: 10px;
                }
            }
        }
    }
    @media (min-width: $lg) {
        .policy {
            margin-top: 0;
        }
    }
}