@import 'common';

/* login */
.login {
    .login-form {
        .tab-content {
            padding: 54px 20px;
            .form-group {
                padding-bottom: 15px;
                &:first-child {
                    text-align: right;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                @media(min-width: $sm) {
                    padding-bottom: 10px;
                    &:first-child {
                        padding-bottom: 15px;
                    }
                }
                @media(min-width: $sm) {
                    width: 470px;
                    margin: 0 auto;
                }
            }
            .btn-area {
                @media(min-width: $sm) {
                    width: 470px;
                    margin: 0 auto;
                }
            }
            .id-find-join {
                padding-top: 30px;
                .dot-list {
                    li {
                        margin-bottom: 25px;
                        &:before {
                            top: -3px;
                        }
                        dl {
                            dt {
                                font-size: 11px;
                                color: #666;
                                font-weight: 400;
                                margin-bottom: 8px;
                            }
                            dd {
                                a {
                                    font-size: 11px;
                                    color: #666;
                                    font-weight: 400;
                                    padding-bottom: 2px;
                                    &:hover, &:focus {
                                        border-bottom: 1px solid #bcbcbc;
                                    }
                                }
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                @media(min-width: $sm) {
                    width: 470px;
                    margin: 0 auto;
                    padding-top: 40px;
                    .dot-list {
                        li {
                            margin-bottom: 0;
                            &:before {
                                top: -2px;
                            }
                            dl {
                                overflow: hidden;
                                dt {
                                    float: left;
                                    font-size: 12px;
                                    margin-bottom: 10px;
                                }
                                dd {
                                    float: right;
                                    a {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                padding-top: 115px;
                padding-bottom: 150px;
            }
        }
    }
}

/* nonmember */
.nonmember {
    .login-form {
        .tab-content {
            padding-top: 70px;
            @media(min-width: $sm) {
                padding-top: 130px;
            }
            @media(min-width: $md) {
                padding-top: 110px;
            }
            .id-find-join {
                .attention {
                    position: relative;
                    font-size: 11px;
                    color: #666;
                    line-height: 18px;
                    padding-left: 15px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 15px;
                        color: #666;
                        font-family: "fontello";
                        content: '\E806'; 
                    }
                    a {
                        font-size: 11px;
                        color: #666;
                    }
                }
            }
        }
    }
}

/* id-find, pw-find 공통 find */
.find {
    .find-form {
        .tab-content {
            padding: 55px 20px;
            .attention {
                font-size: 11px;
                color: #666;
                font-weight: 300;
                line-height: 20px;
                text-align: center;
            }
            .form-group {
                padding-bottom: 15px;
                &:nth-of-type(1) {
                    text-align: center;
                    padding: 40px 0;
                }
                .radio-area {
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            @media(min-width: $sm) {
                padding: 90px 0 110px;
                .attention {
                    font-size: 12px;
                }
                .form-group {
                    width: 470px;
                    margin: 0 auto;
                    padding-bottom: 10px;
                    &:nth-of-type(1) {
                        padding: 33px 0;
                    }
                    .radio-area {
                        margin-right: 48px;
                    }
                }
                .btn-area {
                    width: 470px;
                    margin: 0 auto;
                }
            }
            @media(min-width: $md) {
                padding: 110px 0 150px;
                .form-group {
                    width: 370px;
                    &:nth-of-type(1) {
                        text-align: left;
                        padding-bottom: 20px;
                    }
                    .radio-area {
                        text-align: left;
                        margin-right: 45px;
                    }
                }
                .btn-area {
                    width: 370px;
                }
            }
        }
    }
}

/* join-terms */
.join-terms {
    .terms {
        h3 {
            &:nth-of-type(2) {
                margin-top: 70px;
            }
        }
    }
    .btn-area {
        margin-top: 60px;
    }
    @media(min-width: $sm) {
        .terms {
            h3 {
                &:nth-of-type(2) {
                    margin-top: 85px;
                }
            }
        }
        .btn-area {
            margin-top: 70px;
        }
    }
    @media(min-width: $md) {
        .terms {
            h3 {
                &:nth-of-type(2) {
                    margin-top: 100px;
                }
            }
        }
    }
}

/* join-input */
.join-input {
    .join-input-form {
        h3 {
            overflow: hidden;
            font-size: 12px;
            color: #222;
            font-weight: 400;
            margin-bottom: 20px;
            small {
                font-style: normal;
                font-size: 11px;
                color: #666;
                float: right;
                &:before {
                    font-size: 11px;
                    content: "*";
                    color: #eb252b;
                    margin-right: 3px;
                }
            }
            @media(min-width: $sm) {
                font-size: 14px;
                small {
                    font-size: 12px;
                    &:before {
                        font-size: 12px;
                    }
                }
            }
        }
        .input-form {
            padding-top: 30px;
            border-top: 1px solid #3d3d3d;
            border-bottom: 1px solid #3d3d3d;
            label {
                height: 30px;
                font-size: 11px;
                color: #666;
                font-weight: 300;
                line-height: 30px;
                padding-left: 15px;
                margin-bottom: 30px;
                &.ootc {
                    position: relative;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 11px;
                        content: "*";
                        color: #eb252b;
                        @media(min-width: $sm) {
                            font-size: 13px;
                        }
                    }
                }
                @media(min-width: $sm) {
                    font-size: 13px;
                }
            }
            .defines {
                height: 30px;
                font-size: 11px;
                color: #666;
                font-weight: 300;
                line-height: 30px;
                padding-left: 15px;
                margin-bottom: 30px;
                @media(min-width: $sm) {
                    font-size: 13px;
                }
            }
            .form-control {
                height: 30px;
                margin-bottom: 30px;
                &.u-name {
                    width: 150px;
                }
                @media(min-width: $sm) {
                    width: 250px;
                    display: inline-block;
                }
            }
            .attention {
                display: none;
                &:before {
                    content: "※";
                    margin: 0 5px 0 10px;
                }
                @media(min-width: $sm) {
                    display: inline-block;
                    font-size: 12px;
                    color: #666;
                }
            }
            .addr {
                overflow: hidden;
                margin-bottom: 30px;
                .form-control {
                    clear: both;
                    display: block;
                    margin-bottom: 10px;
                    &.addr-1 {
                        float: left;
                        width: 116px;
                    }
                }
                .btn-addr {
                    float: left;
                    margin-left: 10px;
                }
                @media(min-width: $sm) {
                    .form-control {
                        width: 100%;
                        margin-bottom: 5px;
                        &.addr-1 {
                            width: 169px;
                        }
                    }
                }
            }
            .form-group {
                .check {
                    padding-left: 0;
                    margin-left: 57px;
                    @media(min-width: $sm) {
                        margin-left: 0;
                    }
                }
            }
        }
        .btn-area {
            margin-top: 50px;
            @media(min-width: $sm) {
                margin-top: 80px;
            }
            @media(min-width: $md) {
                margin-top: 60px;
            }
        }
    }
}

/* join-sucess */
.join-sucess {
    .step-list {
        margin-bottom: 67px;
        @media(min-width: $sm) {
            margin-bottom: 90px;
        }
        @media(min-width: $sm) {
            margin-bottom: 105px;
        }
    }
    .sucess {
        padding-top: 90px;
        background-image: url(/assets/images/member/join_sucess_bg.gif);
        background-repeat: no-repeat;
        background-position: 50% 0;
        h3 {
            font-size: 20px;
            color: #2b2b2b;
            line-height: 28px;
            text-align: center;
            font-weight: 400;
            margin-bottom: 20px;
        }
        > p {
            font-size: 11px;
            color: #666;
            text-align: center;
            line-height: 20px;
        }
        .btn-area {
            margin-top: 60px;
            p {
                .btn-lg {
                    height: 40px;
                    line-height: 38px;
                }
            }
        }
        @media(min-width: $sm) {
            padding-top: 100px;
            h3 {
                font-size: 23px;
                line-height: 30px;
                margin-bottom: 35px;
            }
            > p {
                font-size: 13px;
                line-height: 22px;
            }
        }
        @media(min-width: $md) {
            h3 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 30px;
            }
            > p {
                
            }
            .btn-area {
                margin-top: 35px;
                .btn-lg {
                    width: 172px;
                }
            }
        }
    }
}

/* service privacy 공통 */
.common-terms {
    .terms {
        h3 {
            margin-bottom: 20px;
        }
        .summary {
            padding: 30px 10px;
        }
        @media(min-width: $sm) {
            h3 {
                font-size: 14px;
            }
            .summary {
                padding: 25px 20px;
            }
        }
        @media(min-width: $md) {
            .summary {
                padding: 30px 20px;
            }
        }
    }
}
.email-refusal {
    .terms {
        .summary {
            height: 300px;
            @media(min-width: $sm) {
                height: 190px;
            }
            @media(min-width: $md) {
                height: 160px;
            }
        }
    }
}










































