h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0; }

.sub #content {
  min-height: 600px;
  padding-bottom: 115px; }
  @media (min-width: 768px) {
    .sub #content {
      padding-bottom: 150px; } }
  @media (min-width: 992px) {
    .sub #content {
      padding-bottom: 170px; } }

label {
  font-size: 11px;
  color: #666;
  font-weight: 300;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    label {
      font-size: 13px; } }

input[type=checkbox] {
  margin: 0; }

input[type=radio] {
  vertical-align: top;
  margin: 0 !important;
  margin-top: 3px !important;
  margin-right: 5px !important; }

textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #dfdfdf; }
  textarea:hover {
    box-shadow: none; }
  textarea:focus {
    border-color: #000;
    box-shadow: none; }

.check input[type=checkbox] {
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 10px; }

.sub-title {
  font-size: 20px;
  color: cornflowerblue;
  font-weight: 400;
  margin: 30px 0 15px; }

.btn {
  box-shadow: none !important; }

.form-control {
  font-size: 11px;
  height: 40px;
  padding: 14px 10px;
  border-radius: 0;
  box-shadow: none;
  border-color: #dfdfdf;
  background-color: #fff; }
  .form-control:hover {
    box-shadow: none; }
  .form-control:focus {
    border-color: #000;
    box-shadow: none; }
  @media (min-width: 768px) {
    .form-control {
      font-size: 12px;
      padding-left: 15px; } }

/* page-path */
.page-path .breadcrumb {
  padding: 14px 0 14px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  margin-bottom: 38px; }
  .page-path .breadcrumb li {
    font-size: 10px;
    color: #ccc;
    font-weight: 400;
    font-family: 'Lato', sans-serif; }
    .page-path .breadcrumb li a {
      font-size: 10px;
      color: #ccc;
      font-weight: 400; }
      .page-path .breadcrumb li a i {
        font-size: 10px;
        color: #2b2b2b;
        font-weight: 400; }
    .page-path .breadcrumb li:before {
      font-size: 10px;
      color: #ccc;
      font-family: "fontello";
      content: "\E804";
      padding-left: 3px;
      padding-right: 5px; }
    .page-path .breadcrumb li:first-child:before {
      content: "";
      padding: 0; }
    @media (min-width: 768px) {
      .page-path .breadcrumb li {
        font-size: 11px;
        font-weight: 400; }
        .page-path .breadcrumb li:before {
          font-size: 11px; }
        .page-path .breadcrumb li a {
          font-size: 11px; }
          .page-path .breadcrumb li a i {
            font-size: 11px; } }
  @media (min-width: 992px) {
    .page-path .breadcrumb {
      margin-bottom: 82px; } }
  @media (min-width: 1280px) {
    .page-path .breadcrumb {
      margin-bottom: 60px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; } }

/* page-header */
.page-header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-bottom: 0;
  border: 0; }
  .page-header > h2 {
    font-size: 20px;
    color: #000;
    letter-spacing: -1px;
    font-family: 'Lato', sans-serif; }
  .page-header > p {
    font-size: 12px;
    color: #666;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -.5px;
    margin-top: 30px; }
    .page-header > p.font-lato {
      font-family: 'Lato', sans-serif; }
      @media (min-width: 1280px) {
        .page-header > p.font-lato {
          display: none; } }
  @media (min-width: 768px) {
    .page-header {
      margin-bottom: 60px; }
      .page-header > h2 {
        font-size: 23px; }
      .page-header > p {
        font-size: 13px; } }
  @media (min-width: 992px) {
    .page-header {
      margin-bottom: 70px; } }

/* step-list */
.step-list {
  font-size: 0;
  text-align: center;
  margin-bottom: 60px; }
  .step-list li {
    display: inline-block;
    width: 33.33%;
    font-size: 12px;
    color: #999;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-right: 0;
    padding: 17px 0 20px; }
    .step-list li > p {
      margin-bottom: 13px; }
    .step-list li > h3 {
      font-size: 12px;
      color: #999;
      font-weight: 400; }
      .step-list li > h3 > i {
        font-size: 12px;
        color: #999;
        display: block;
        font-style: normal;
        margin-bottom: 6px;
        font-family: 'Lato', sans-serif; }
    .step-list li:last-child {
      border-right: 1px solid #dbdbdb; }
    .step-list li.active {
      border-color: #2b2b2b;
      background-color: #2b2b2b; }
      .step-list li.active > h3 {
        color: #fff; }
        .step-list li.active > h3 > i {
          color: #fff; }
  @media (min-width: 768px) {
    .step-list {
      margin-bottom: 70px; }
      .step-list li {
        padding: 15px 0; }
        .step-list li > p {
          display: inline-block;
          margin-bottom: 0;
          margin-right: 20px; }
        .step-list li > h3 {
          display: inline-block;
          font-size: 13px; }
          .step-list li > h3 > i {
            display: inline-block;
            font-size: 13px;
            margin-right: 20px;
            margin-bottom: 0; } }
  @media (min-width: 992px) {
    .step-list li.active {
      border-color: #dbdbdb; } }

/* btn-area */
.btn-area p {
  font-size: 0;
  text-align: center; }
  .btn-area p .btn {
    display: inline-block;
    padding: 0;
    border-radius: 0; }
  .btn-area p .btn-lg {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    font-size: 12px;
    color: #666;
    line-height: 38px;
    text-align: center;
    border: 1px solid #aaa; }
    @media (min-width: 768px) {
      .btn-area p .btn-lg {
        height: 40px;
        line-height: 38px; } }
    @media (min-width: 992px) {
      .btn-area p .btn-lg {
        width: 370px;
        font-size: 13px; } }
  .btn-area p .btn-sm {
    width: 145px;
    height: 40px;
    font-size: 11px;
    color: #666;
    line-height: 38px;
    margin-right: 10px; }
    .btn-area p .btn-sm:last-child {
      margin-right: 0; }
    @media (min-width: 768px) {
      .btn-area p .btn-sm {
        width: 170px;
        font-size: 12px;
        margin-right: 20px; } }
  .btn-area p .btn-success {
    font-size: 11px;
    color: #fff;
    width: 100%;
    height: 40px;
    border: 0;
    line-height: 40px;
    background-color: #2b2b2b; }
    .btn-area p .btn-success:focus {
      box-shadow: none;
      background: #2b2b2b;
      border: 0; }
  .btn-area p .btn-white {
    color: #666;
    border: 1px solid #aaa;
    background-color: #fff; }
  .btn-area p .btn-gray {
    color: #fff;
    border-color: #2b2b2b;
    background-color: #2b2b2b; }
  .btn-area p .btn-default {
    width: 100%;
    height: 40px;
    font-size: 11px;
    line-height: 38px; }
    @media (min-width: 768px) {
      .btn-area p .btn-default {
        font-size: 12px; } }

/* btn-addr */
.btn-addr .btn {
  width: 70px;
  height: 30px;
  font-size: 11px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: #989898; }
  @media (min-width: 768px) {
    .btn-addr .btn {
      font-size: 12px; } }

/* nav-tabs */
.lnb h2 {
  font-size: 12px;
  color: #2b2b2b;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px; }
.lnb ul {
  font-size: 0;
  text-align: center; }
  .lnb ul li {
    display: inline-block;
    margin-right: 10px; }
    .lnb ul li a {
      display: block;
      width: 140px;
      height: 35px;
      font-weight: 400;
      font-size: 11px;
      color: #2b2b2b;
      line-height: 33px;
      text-align: center;
      border: 1px solid #aaa;
      font-family: 'Lato', sans-serif; }
    .lnb ul li.active a {
      color: #fff;
      border-color: #2b2b2b;
      background-color: #2b2b2b; }
    .lnb ul li:last-child {
      margin-right: 0; }
  @media (min-width: 768px) {
    .lnb ul li {
      margin-right: 20px; }
      .lnb ul li a {
        font-size: 12px;
        width: 166px;
        height: 40px;
        line-height: 38px; } }
  @media (min-width: 1280px) {
    .lnb ul {
      text-align: left;
      padding-left: 10px; }
      .lnb ul li {
        display: block;
        margin: 0; }
        .lnb ul li a {
          display: inline;
          text-align: left;
          font-size: 12px;
          border: 0;
          line-height: 25px; }
        .lnb ul li.active a {
          color: #2b2b2b;
          background: none;
          border-bottom: 2px solid #aaa; } }

/* glasses-list */
.glasses-list {
  margin-top: 30px; }
  .glasses-list .glasses-item {
    text-align: center;
    margin-bottom: 50px; }
    @media (min-width: 768px) {
      .glasses-list .glasses-item {
        margin-bottom: 70px; } }
    @media (min-width: 1280px) {
      .glasses-list .glasses-item {
        margin-bottom: 100px; } }
    .glasses-list .glasses-item .bx-wrapper {
      position: relative; }
      .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a {
        position: relative;
        display: block;
        height: 220px; }
        .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a figure {
          display: table;
          width: 100%;
          height: 200px; }
          .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a figure > .glasses {
            display: table-cell;
            height: 200px;
            vertical-align: middle;
            text-align: center; }
            .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a figure > .glasses > p {
              text-align: center;
              opacity: 1;
              transition: all .5s; }
              .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a figure > .glasses > p .img-responsive {
                margin: 0 auto; }
              .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a figure > .glasses > p + p {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                opacity: 0; }
          .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a figure figcaption {
            display: table-row; }
            .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a figure figcaption p {
              display: table-cell;
              font-size: 12px;
              color: #2b2b2b;
              font-weight: 400;
              font-family: 'Lato', sans-serif; }
        .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a:hover figure > .glasses > p {
          opacity: 0; }
          .glasses-list .glasses-item .bx-wrapper .bx-viewport ul li a:hover figure > .glasses > p + p {
            opacity: 1; }
      .glasses-list .glasses-item .bx-wrapper .bx-controls {
        position: absolute;
        bottom: -24px;
        left: 50%;
        margin-left: -75px; }
        .glasses-list .glasses-item .bx-wrapper .bx-controls .bx-controls-direction {
          width: 150px; }
          .glasses-list .glasses-item .bx-wrapper .bx-controls .bx-controls-direction a {
            overflow: hidden;
            display: inline-block; }
            .glasses-list .glasses-item .bx-wrapper .bx-controls .bx-controls-direction a i {
              font-size: 15px;
              color: #ccc;
              font-weight: bold; }
              .glasses-list .glasses-item .bx-wrapper .bx-controls .bx-controls-direction a i:hover {
                color: #2b2b2b; }
            .glasses-list .glasses-item .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
              float: left; }
            .glasses-list .glasses-item .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
              float: right; }
    .glasses-list .glasses-item .glasses-color {
      font-size: 12px;
      color: #2b2b2b;
      line-height: 0;
      font-weight: 400;
      margin-top: 15px;
      font-family: 'Lato', sans-serif; }
  @media (min-width: 1280px) {
    .glasses-list {
      margin-top: 0; } }

/* terms */
.terms h3 {
  font-size: 12px;
  color: #222;
  margin-bottom: 10px; }
.terms .summary {
  overflow-y: scroll;
  width: 100%;
  height: 350px;
  font-size: 13px;
  color: #666;
  line-height: 20px;
  padding: 26px 20px;
  border: 1px solid #dfdfdf;
  background-color: #f4f4f4; }
.terms .form-group {
  margin-top: 20px;
  margin-bottom: 0; }
@media (min-width: 768px) {
  .terms > h3 {
    font-size: 13px;
    margin-bottom: 20px; }
  .terms .summary {
    font-size: 13px;
    line-height: 24px; } }
@media (min-width: 992px) {
  .terms > h3 {
    font-size: 14px; }
  .terms .summary {
    line-height: 28px; } }

/* nav-tabs */
.nav-tabs {
  overflow: hidden;
  border-bottom: 0; }
  .nav-tabs li {
    position: relative;
    float: left;
    width: 50%;
    height: 47px;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: 1px solid #e2e2e2;
    border-bottom: 1px solid #000; }
    .nav-tabs li a {
      font-size: 11px;
      color: #acacac;
      display: block;
      text-align: center;
      line-height: 45px;
      padding: 0;
      margin-right: 0;
      border: 0;
      border-radius: 0; }
      .nav-tabs li a:hover, .nav-tabs li a:focus {
        text-decoration: none;
        border: 0;
        background: none; }
    .nav-tabs li.active {
      border: 1px solid #000; }
      .nav-tabs li.active a {
        position: absolute;
        top: 0px;
        width: 100%;
        color: #2b2b2b;
        border: 0;
        height: 46px;
        background-color: #fff; }
        .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
          color: #2b2b2b;
          text-decoration: none;
          border: 0; }
    .nav-tabs li:first-child {
      border-right: 0; }
      .nav-tabs li:first-child.active {
        border-right: 1px solid #000; }
    .nav-tabs li:last-child {
      border-left: 0; }
      .nav-tabs li:last-child.active {
        border-left: 1px solid #000; }
  @media (min-width: 768px) {
    .nav-tabs li a {
      font-size: 13px; } }

.tab-content {
  display: block;
  width: 100%;
  border: 1px solid #000;
  border-top: 0; }

/* dot-list */
.dot-list li {
  position: relative;
  padding-left: 15px; }
  .dot-list li:before {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 15px;
    color: #666;
    font-family: "fontello";
    content: '\E806'; }
    @media (min-width: 768px) {
      .dot-list li:before {
        font-size: 15px; } }

/* paging */
.paging {
  text-align: center; }
  .paging .pagination {
    margin: 0; }
    .paging .pagination li a {
      font-size: 13px;
      color: #aaa;
      padding: 0 9px;
      line-height: 20px;
      border: 0;
      border-radius: 0;
      font-family: 'Maven Pro', sans-serif; }
      .paging .pagination li a span i {
        font-size: 13px;
        color: #2b2b2b;
        line-height: 20px; }
        .paging .pagination li a span i:before {
          margin: 0;
          width: 100%;
          line-height: 20px; }
    .paging .pagination li.active {
      background: none; }
      .paging .pagination li.active a {
        color: #2b2b2b;
        background: none; }
    .paging .pagination li.icon-left a {
      margin-right: 10px; }
    .paging .pagination li.icon-right a {
      margin-left: 10px; }

/* panel-group */
.panel-group .panel {
  border: 0;
  border-radius: 0;
  margin-bottom: 50px;
  box-shadow: none; }
  .panel-group .panel + .panel {
    margin-top: 0; }
  .panel-group .panel:last-child {
    margin-bottom: 0; }
  .panel-group .panel .panel-heading {
    padding: 0;
    border-radius: 0;
    background: none;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #dfdfdf; }
    .panel-group .panel .panel-heading .panel-title {
      font-size: 0; }
      .panel-group .panel .panel-heading .panel-title a {
        display: block;
        font-size: 12px;
        color: #666;
        font-weight: 400;
        padding: 12px 10px 12px 17px;
        border-bottom: 1px solid #dfdfdf; }
        .panel-group .panel .panel-heading .panel-title a .order-num {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a span {
          float: right;
          clear: both;
          font-size: 12px;
          color: #2b2b2b;
          font-style: normal; }
          .panel-group .panel .panel-heading .panel-title a span i {
            font-size: 12px;
            margin-left: 10px; }
          .panel-group .panel .panel-heading .panel-title a span.open-text {
            display: inline-block; }
          .panel-group .panel .panel-heading .panel-title a span.close-text {
            display: none; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .open-text {
          display: none; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .close-text {
          display: inline-block; }
  .panel-group .panel .panel-collapse .panel-body {
    padding: 0;
    border-top: 0; }

/* table-wrap */
.table-wrap h3, .table-wrap h4, .table-wrap h5 {
  font-size: 12px;
  color: #2b2b2b;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .table-wrap h3, .table-wrap h4, .table-wrap h5 {
      font-size: 13px; } }
.table-wrap .table {
  border: 0;
  margin-bottom: 0;
  border-top: 1px solid #2b2b2b; }
  .table-wrap .table tbody th {
    width: 35%;
    font-size: 12px;
    color: #2b2b2b;
    font-weight: 400;
    vertical-align: middle;
    padding: 15px 0 15px 20px;
    border: 0;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8; }
    @media (min-width: 768px) {
      .table-wrap .table tbody th {
        width: 23%; } }
  .table-wrap .table tbody td {
    width: 65%;
    font-size: 12px;
    color: #666;
    font-weight: 400;
    vertical-align: middle;
    padding: 15px 0 15px 10px;
    border: 0;
    border-bottom: 1px solid #ddd; }
    .table-wrap .table tbody td .higway-addr {
      display: inline-block; }
    @media (min-width: 768px) {
      .table-wrap .table tbody td {
        width: 77%;
        padding-left: 30px; } }

/* cash-receipt */
.cash-receipt {
  font-size: 0; }
  .cash-receipt dt {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    display: inline-block; }
    .cash-receipt dt:after {
      content: ":";
      padding: 0 3px; }
  .cash-receipt dd {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    display: inline-block; }

/* inline-dl */
.inline-dl {
  font-size: 0; }
  .inline-dl dt {
    display: inline-block;
    font-size: 12px;
    color: #666;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif; }
    .inline-dl dt:after {
      content: ":";
      font-size: 12px;
      color: #666;
      padding: 0 3px;
      line-height: 18px; }
  .inline-dl dd {
    display: inline-block;
    font-size: 12px;
    color: #666;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif; }

/* total */
.total {
  overflow: hidden; }
  .total dt {
    width: 80px;
    float: left;
    clear: both;
    font-size: 13px;
    color: #acacac;
    font-weight: 300;
    line-height: 25px; }
  .total dd {
    float: left;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    line-height: 25px; }
  @media (min-width: 768px) {
    .total dt {
      font-size: 14px; }
    .total dd {
      font-size: 14px; } }

/*# sourceMappingURL=sub.css.map */
