@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

/* 메인페이지 완료되면 Header CSS 제거 */
.sub #header #gnb ul li ul {
  display: none !important; }
.sub #content {
  min-height: 500px; }
  .sub #content .container {
    min-height: 500px; }

/* 
    #header #gnb ul li ul 만 제거 
    이하로 작성되는 scss는 사용 2017-01-10
*/
.sub-title {
  font-size: 20px;
  color: cornflowerblue;
  font-weight: 400;
  margin: 30px 0 15px; }

/* page-path */
.page-path .breadcrumb {
  padding: 14px 0 14px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  margin-bottom: 38px; }
  .page-path .breadcrumb li {
    font-size: 10px;
    color: #ccc;
    font-weight: 300; }
    .page-path .breadcrumb li a {
      font-size: 10px;
      color: #ccc;
      font-weight: 300; }
      .page-path .breadcrumb li a i {
        font-size: 10px;
        color: #2b2b2b;
        font-weight: 300; }
    .page-path .breadcrumb li:before {
      font-size: 10px;
      color: #ccc;
      font-family: "fontello";
      content: "\E804";
      padding-right: 8px; }
    .page-path .breadcrumb li:first-child:before {
      content: "";
      padding: 0; }
    @media (min-width: 768px) {
      .page-path .breadcrumb li {
        font-size: 11px;
        font-weight: 300; }
        .page-path .breadcrumb li:before {
          font-size: 11px; }
        .page-path .breadcrumb li a {
          font-size: 11px; }
          .page-path .breadcrumb li a i {
            font-size: 11px; } }
  @media (min-width: 992px) {
    .page-path .breadcrumb {
      margin-bottom: 82px; } }
  @media (min-width: 1280px) {
    .page-path .breadcrumb {
      margin-bottom: 60px;
      border-bottom: 1px solid #ccc; } }

/* join-step */
.join-step ol {
  font-size: 0;
  text-align: center; }
  .join-step ol li {
    display: inline-block;
    width: 33.33%;
    font-size: 12px;
    color: #999;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-right: 0;
    padding: 17px 0 20px;
    font-family: 'Lato', sans-serif; }
    .join-step ol li > p {
      margin-bottom: 13px; }
    .join-step ol li > h3 {
      font-size: 12px;
      color: #999; }
      .join-step ol li > h3 > i {
        font-size: 12px;
        color: #999;
        display: block;
        font-style: normal;
        margin-bottom: 6px; }
    .join-step ol li:last-child {
      border-right: 1px solid #dbdbdb; }
    .join-step ol li.active {
      border-color: #2b2b2b;
      background-color: #2b2b2b; }
      .join-step ol li.active > h3 {
        color: #fff; }
        .join-step ol li.active > h3 > i {
          color: #fff; }
@media (min-width: 768px) {
  .join-step ol li {
    padding: 15px 0; }
    .join-step ol li > p {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 20px; }
    .join-step ol li > h3 {
      display: inline-block;
      font-size: 13px; }
      .join-step ol li > h3 > i {
        display: inline-block;
        font-size: 13px;
        margin-right: 20px;
        margin-bottom: 0; } }
@media (min-width: 992px) {
  .join-step ol li.active {
    border-color: #dbdbdb; } }

/* btn-area */
.btn-area p {
  font-size: 0;
  text-align: center; }
  .btn-area p .btn {
    display: inline-block;
    padding: 0;
    border-radius: 0; }
  .btn-area p .btn-lg {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 35px;
    font-size: 12px;
    color: #666;
    line-height: 35px;
    text-align: center;
    border: 1px solid #aaa; }
    @media (min-width: 768px) {
      .btn-area p .btn-lg {
        height: 40px;
        line-height: 40px; } }
    @media (min-width: 992px) {
      .btn-area p .btn-lg {
        width: 370px;
        font-size: 13px; } }
  .btn-area p .btn-sucess {
    display: block;
    margin: 0 auto; }
  .btn-area p .btn-sm {
    width: 145px;
    height: 40px;
    font-size: 11px;
    color: #666;
    line-height: 40px;
    margin-right: 10px; }
    .btn-area p .btn-sm:last-child {
      margin-right: 0; }
    @media (min-width: 768px) {
      .btn-area p .btn-sm {
        margin-right: 20px; } }
    @media (min-width: 992px) {
      .btn-area p .btn-sm {
        width: 172px;
        font-size: 12px; } }
  .btn-area p .btn-white {
    border: 1px solid #ccc; }
  .btn-area p .btn-gray {
    color: #fff;
    border-color: #2b2b2b;
    background-color: #2b2b2b; }

/* glasses-item */
.glasses-item .tab-menu h2 {
  font-size: 12px;
  color: #2b2b2b;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px; }
.glasses-item .tab-menu ul {
  font-size: 0;
  text-align: center; }
  .glasses-item .tab-menu ul li {
    display: inline-block;
    margin-right: 10px; }
    .glasses-item .tab-menu ul li a {
      display: block;
      width: 140px;
      height: 35px;
      font-size: 11px;
      color: #2b2b2b;
      line-height: 35px;
      text-align: center;
      border: 1px solid #aaa;
      font-family: 'Lato', sans-serif; }
    .glasses-item .tab-menu ul li.active a {
      color: #fff;
      border-color: #2b2b2b;
      background-color: #2b2b2b; }
    .glasses-item .tab-menu ul li:last-child {
      margin-right: 0; }
  @media (min-width: 768px) {
    .glasses-item .tab-menu ul li {
      margin-right: 20px; }
      .glasses-item .tab-menu ul li a {
        font-size: 12px;
        width: 166px;
        height: 40px;
        line-height: 40px; } }
  @media (min-width: 1280px) {
    .glasses-item .tab-menu ul {
      text-align: left;
      padding-left: 10px; }
      .glasses-item .tab-menu ul li {
        display: block;
        margin: 0;
        line-height: 25px; }
        .glasses-item .tab-menu ul li a {
          display: inline;
          text-align: left;
          font-size: 12px;
          border: 0;
          line-height: 12px; }
        .glasses-item .tab-menu ul li.active a {
          color: #2b2b2b;
          background-color: #fff;
          border-bottom: 2px solid #aaa; } }
.glasses-item .item-list {
  margin-top: 80px; }
  .glasses-item .item-list .item {
    height: 130px;
    text-align: center;
    margin-bottom: 80px;
    border: 1px solid #ccc; }
  @media (min-width: 1280px) {
    .glasses-item .item-list {
      margin-top: 0; } }

/* terms */
.terms > h3 {
  font-size: 12px;
  color: #222;
  margin-bottom: 10px; }
.terms .summary {
  overflow-y: scroll;
  width: 100%;
  min-height: 350px;
  font-size: 13px;
  color: #666;
  line-height: 20px;
  padding: 26px 20px;
  border: 1px solid #dfdfdf;
  background-color: #f4f4f4; }

/*# sourceMappingURL=sub.css.map */
