@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0; }

/* 메인페이지 완료되면 Header CSS 제거 */
.sub #header #gnb ul li ul {
  display: none; }
.sub #content {
  min-height: 500px;
  background-color: antiquewhite; }
  .sub #content .container {
    min-height: 500px;
    background-color: #fff; }
.sub #footer {
  width: 100%;
  height: 100px;
  background-color: hotpink; }
  @media (min-width: 768px) {
    .sub #footer {
      height: 200px; } }
  .sub #footer .container {
    height: 100px;
    background-color: lightpink; }
    @media (min-width: 768px) {
      .sub #footer .container {
        height: 200px; } }
    .sub #footer .container p {
      font-size: 18px;
      color: #fff;
      text-align: center;
      line-height: 100px; }
      @media (min-width: 768px) {
        .sub #footer .container p {
          font-size: 25px;
          line-height: 200px; } }
      @media (min-width: 992px) {
        .sub #footer .container p {
          font-size: 30px; } }
      @media (min-width: 1280px) {
        .sub #footer .container p {
          font-size: 35px; } }

/* 
    #header #gnb ul li ul 만 제거 
    이하로 작성되는 scss는 사용 2017-01-10
*/
/* page-path */
.page-path .breadcrumb {
  padding: 14px 0 14px;
  border-radius: 0;
  background-color: #fff; }
  .page-path .breadcrumb li {
    font-size: 10px;
    color: #ccc;
    font-weight: 300; }
    .page-path .breadcrumb li a {
      font-size: 10px;
      color: #ccc;
      font-weight: 300; }
      .page-path .breadcrumb li a i {
        font-size: 10px;
        color: #2b2b2b;
        font-weight: 300; }
    .page-path .breadcrumb li:before {
      font-size: 10px;
      color: #ccc;
      font-family: "fontello";
      content: "\E804";
      padding-right: 8px; }
    .page-path .breadcrumb li:first-child:before {
      content: "";
      padding: 0; }
    @media (min-width: 768px) {
      .page-path .breadcrumb li {
        font-size: 11px;
        font-weight: 300; }
        .page-path .breadcrumb li:before {
          font-size: 11px; }
        .page-path .breadcrumb li a {
          font-size: 11px; }
          .page-path .breadcrumb li a i {
            font-size: 11px; } }
  @media (min-width: 992px) {
    .page-path .breadcrumb {
      border-bottom: 1px solid #ccc; } }

/* glasses-item */
.glasses-item .tab-menu h2 {
  font-size: 12px;
  color: #2b2b2b;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px; }
.glasses-item .tab-menu ul {
  text-align: center; }
  .glasses-item .tab-menu ul li {
    display: inline-block;
    margin-right: 8px; }
    .glasses-item .tab-menu ul li a {
      display: block;
      width: 140px;
      height: 35px;
      font-size: 11px;
      color: #2b2b2b;
      line-height: 35px;
      text-align: center;
      border: 1px solid #aaa;
      font-family: 'Lato', sans-serif; }
    .glasses-item .tab-menu ul li.active a {
      color: #fff;
      border-color: #2b2b2b;
      background-color: #2b2b2b; }
    .glasses-item .tab-menu ul li:last-child {
      margin-right: 0; }
  @media (min-width: 768px) {
    .glasses-item .tab-menu ul li {
      margin-right: 18px; }
      .glasses-item .tab-menu ul li a {
        font-size: 12px;
        width: 166px;
        height: 40px;
        line-height: 40px; } }
  @media (min-width: 1280px) {
    .glasses-item .tab-menu ul {
      text-align: left;
      padding-left: 10px; }
      .glasses-item .tab-menu ul li {
        display: block;
        margin: 0;
        line-height: 25px; }
        .glasses-item .tab-menu ul li a {
          display: inline;
          text-align: left;
          font-size: 12px;
          border: 0;
          line-height: 12px; }
        .glasses-item .tab-menu ul li.active a {
          color: #2b2b2b;
          background-color: #fff;
          border-bottom: 2px solid #aaa; } }
@media (min-width: 1280px) {
  .glasses-item {
    padding-top: 60px; } }
.glasses-item .item-list > div > div:nth-of-type(1) .item {
  background-color: greenyellow; }
.glasses-item .item-list > div > div:nth-of-type(2) .item {
  background-color: yellow; }
.glasses-item .item-list > div > div:nth-of-type(3) .item {
  background-color: yellowgreen; }
.glasses-item .item-list > div > div:nth-of-type(4) .item {
  background-color: azure; }
.glasses-item .item-list > div > div:nth-of-type(5) .item {
  background-color: beige; }
.glasses-item .item-list > div > div:nth-of-type(6) .item {
  background-color: bisque; }
.glasses-item .item-list > div > div .item {
  height: 130px;
  margin-bottom: 20px; }

/*# sourceMappingURL=sub.css.map */
