@import 'common';

.sub {
    #content {
        min-height: 600px;
        padding-bottom: 115px;
        @media(min-width: $sm) {
            padding-bottom: 150px;
        }
        @media(min-width: $md) {
            padding-bottom: 170px;
        }
    }
}
label {
    font-size: 11px;
    color: #666;
    font-weight: 300;
    margin-bottom: 0;
    @media(min-width: $sm) {
        font-size: 13px;
    }
}
input[type=checkbox] {
    margin: 0;
}
input[type=radio] {
    vertical-align: top;
    margin: 0 !important;
    margin-top: 3px !important;
    margin-right: 5px !important;
}
.check {
    input[type=checkbox] {
        vertical-align: middle;
        margin-top: -1px;
        margin-right: 10px;
    }
}
.sub-title {
    font-size: 20px;
    color: cornflowerblue;
    font-weight: 400;
    margin: 30px 0 15px;
}
.btn {
    box-shadow: none !important;
}
.form-control {
    font-size: 11px;
    height: 40px;
    padding: 14px 10px;
    border-radius: 0;
    box-shadow: none;
    border-color: #dfdfdf;
    background-color: #fff;
    &:hover {
        box-shadow: none;
    }
    &:focus {
        border-color: #000;
        box-shadow: none;
    }
    @media(min-width: $sm) {
        font-size: 12px;
        padding-left: 15px;
    }
}

/* page-path */
.page-path {
    .breadcrumb {
        padding: 14px 0 14px;
        margin-bottom: 0;
        border-radius: 0;
        background-color: #fff;
        margin-bottom: 38px;
        li {
            font-size: 10px;
            color: #ccc;
            font-weight: 400;
            @include lato();
            a {
                font-size: 10px;
                color: #ccc;
                font-weight: 400;
                i {
                    font-size: 10px;
                    color: #2b2b2b;
                    font-weight: 400;
                }
            }
            &:before {
                font-size: 10px;
                color: #ccc;
                font-family: "fontello";
                content: "\E804";
                padding-left: 3px;
                padding-right: 5px;
            }
            &:first-child:before {
                content: "";
                padding: 0;
            }
            @media(min-width: $sm) {
                font-size: 11px;
                font-weight: 400;
                &:before {
                    font-size: 11px;
                }
                a {
                    font-size: 11px;
                    i {
                        font-size: 11px;
                    }
                }
            }
        }
        @media(min-width: $md) {
            margin-bottom: 82px;
        }
        @media(min-width: $lg) {
            margin-bottom: 60px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }
}

/* page-header */
.page-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 0;
    border: 0;
    > h2 {
        font-size: 23px;
        color: #000;
        margin-bottom: 30px;
        letter-spacing: -1px;
        @include lato();
    }
    > p {
        font-size: 12px;
        color: #666;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: -.5px;
        &.font-lato {
            @include lato();
            @media(min-width: $lg) {
                display: none;
            }
        }
    }
    @media(min-width: $sm) {
        margin-bottom: 60px;
        > p {
            font-size: 13px;
        }
    }
    @media(min-width: $md) {
        margin-bottom: 70px;
    }
}

/* step-list */
.step-list {
    font-size: 0;
    text-align: center;
    margin-bottom: 60px;
    li {
        display: inline-block;
        width: 33.33%;
        font-size: 12px;
        color: #999;
        text-align: center;
        border: 1px solid #dbdbdb;
        border-right: 0;
        padding: 17px 0 20px;
        > p {
            margin-bottom: 13px;
        }
        > h3 {
            font-size: 12px;
            color: #999;
            font-weight: 400;
            > i {
                font-size: 12px;
                color: #999;
                display: block;
                font-style: normal;
                margin-bottom: 6px;
                @include lato();
            }
        }
        &:last-child {
            border-right: 1px solid #dbdbdb;
        }
        &.active {
            border-color: #2b2b2b;
            background-color: #2b2b2b;
            > h3 {
                color: #fff;
                > i {
                    color: #fff;
                }
            }
        }
    }
    @media(min-width: $sm) {
        margin-bottom: 70px;
        li {
            padding: 15px 0;
            > p {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 20px;
            }
            > h3 {
                display: inline-block;
                font-size: 13px;
                > i {
                    display: inline-block;
                    font-size: 13px;
                    margin-right: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
    @media(min-width: $md) {
        li {
            &.active {
                border-color: #dbdbdb;
            }
        }
    }
}

/* btn-area */
.btn-area {
    p {
        font-size: 0;
        text-align: center;
        .btn {
            display: inline-block;
            padding: 0;
            border-radius: 0;
        }
        .btn-lg {
            display: block;
            margin: 0 auto;
            width: 300px;
            height: 35px;
            font-size: 12px;
            color: #666;
            line-height: 33px;
            text-align: center;
            border: 1px solid #aaa;
            @media(min-width: $sm) {
                height: 40px;
                line-height: 38px;
            }
            @media(min-width: $md) {
                width: 370px;
                font-size: 13px;
            }
        }
        .btn-sm {
            width: 145px;
            height: 40px;
            font-size: 11px;
            color: #666;
            line-height: 38px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            @media(min-width: $sm) {
                font-size: 12px;
                margin-right: 20px;
            }
            @media(min-width: $md) {
                width: 172px;
            }
        }
        .btn-success {
            font-size: 11px;
            color: #fff;
            width: 100%;
            height: 40px;
            border: 0;
            line-height: 40px;
            background-color: #2b2b2b;
            &:focus {
                box-shadow: none;
                background: #2b2b2b;
                border: 0;
            }
        }
        .btn-white {
            color: #666;
            border: 1px solid #aaa;
            background-color: #fff;
        }
        .btn-gray {
            color: #fff;
            border-color: #2b2b2b;
            background-color: #2b2b2b;
        }
    }
}

/* btn-addr */
.btn-addr {
    .btn {
        width: 70px;
        height: 30px;
        font-size: 11px;
        color: #fff;
        font-weight: 300;
        text-align: center;
        line-height: 30px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #989898;
        @media(min-width: $sm) {
            font-size: 12px;
        }
    }
}
/* nav-tabs */
.lnb {
    h2 {
        font-size: 12px;
        color: #2b2b2b;
        text-align: left;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul {
        font-size: 0;
        text-align: center;
        li {
            display: inline-block;
            margin-right: 10px;
            a {
                display: block;
                width: 140px;
                height: 35px;
                font-weight: 400;
                font-size: 11px;
                color: #2b2b2b;
                line-height: 33px;
                text-align: center;
                border: 1px solid #aaa;
                @include lato();
            }
            &.active {
                a {
                    color: #fff;
                    border-color: #2b2b2b;
                    background-color: #2b2b2b;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        @media(min-width: $sm) {
            li {
                margin-right: 20px;
                a {
                    font-size: 12px;
                    width: 166px;
                    height: 40px;
                    line-height: 38px;
                }
            }
        }
        @media(min-width: $lg) {
            text-align: left;
            padding-left: 10px;
            li {
                display: block;
                margin: 0;
                a {
                    display: inline;
                    text-align: left;
                    font-size: 12px;
                    border: 0;
                    line-height: 25px;
                }
                &.active {
                    a {
                        color: #2b2b2b;
                        background-color: #fff;
                        border-bottom: 2px solid #aaa;
                    }
                }
            }
        }
    }
}
.glasses-list {
    margin-top: 30px;
    .glasses-item {
        text-align: center;
        margin-bottom: 80px;
        .bx-wrapper {
            position: relative;
            .bx-viewport {
                ul {
                    li {
                        a {
                            display: block;
                            height: 180px;
                            line-height: 180px;
                            background: none;
                            img {
                                display: inline-block;
                            }
                            &:hover {
                                display: block;
                                background-image: url(/assets/images/sub/item_img02.jpg);
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                img {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .bx-controls {
                position: absolute;
                bottom: -34px;
                left: 50%;
                margin-left: -75px;
                .bx-controls-direction {
                    width: 150px;
                    a {
                        overflow: hidden;
                        display: inline-block;
                        i {
                            font-size: 12px;
                            color: #ccc;
                            font-weight: bold;
                            &:hover {
                                color: #2b2b2b;
                            }
                        }
                        &.bx-prev {
                            float: left;
                        }
                        &.bx-next {
                            float: right;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        margin-top: 0;
    }
}

/* terms */
.terms {
    h3 {
        font-size: 12px;
        color: #222;
        margin-bottom: 10px;
    }
    .summary {
        overflow-y: scroll;
        width: 100%;
        height: 350px;
        font-size: 13px;
        color: #666;
        line-height: 20px;
        padding: 26px 20px;
        border: 1px solid #dfdfdf;
        background-color: #f4f4f4;
    }
    .form-group {
        margin-top: 20px;
        margin-bottom: 0;
    }
    @media(min-width: $sm) {
        > h3 {
            font-size: 13px;
            margin-bottom: 20px;
        }
        .summary {
            font-size: 13px;
            line-height: 24px;
        }
    }
    @media(min-width: $md) {
        > h3 {
            font-size: 14px;
        }
        .summary {
            line-height: 28px;
        }
    }
}

/* nav-tabs */
.nav-tabs {
    overflow: hidden;
    border-bottom: 0;
    li {
        position: relative;
        float: left;
        width: 50%;
        height: 47px;
        margin-bottom: 0;
        background-color: #f5f5f5;
        border: 1px solid #e2e2e2;
        border-bottom: 1px solid #000;
        a {
            font-size: 11px;
            color: #acacac;
            display: block;
            text-align: center;
            line-height: 45px;
            padding: 0;
            margin-right: 0;
            border: 0;
            border-radius: 0;
            &:hover,&:focus {
                text-decoration: none;
                border: 0;
                background: none;
            }
        }
        &.active {
            border: 1px solid #000;
            a {
                position: absolute;
                top: 0px;
                width: 100%;
                color: #2b2b2b;
                border: 0;
                height: 46px;
                background-color: #fff;
                &:hover,&:focus {
                    color: #2b2b2b;
                    text-decoration: none;
                    border: 0;
                }
            }
        }
        &:first-child {
            border-right: 0;
            &.active {
                border-right: 1px solid #000;
            }
        }
        &:last-child {
            border-left: 0;
            &.active {
                border-left: 1px solid #000;
            }
        }
    }
    @media(min-width: $sm) {
        li {
            a {
                font-size: 13px;
            }
        }
    }
}
.tab-content {
    display: block;
    width: 100%;
    border: 1px solid #000;
    border-top: 0;
}

/* dot-list */
.dot-list {
    li {
        position: relative;
        padding-left: 15px;
        &:before {
            position: absolute;
            top: 0px;
            left: 0;
            font-size: 15px;
            color: #666;
            font-family: "fontello";
            content: '\E806';
            @media(min-width: $sm) {
                font-size: 15px;
            }
        }
    }
}










.test {
    width: 450px;
    height: 250px;
    a {
        position: relative;
        width: 100%;
        height: 100%;
        &:hover {
            img {
                transform: scale(1.1);
                transition: transform 300ms ease-in;
            }    
        }
        img {
            display: block;
            transform: scale(1);
            transition: transform 300ms ease-out;
            
            
            
            
//            transform: scale(1);
//            & + img {
//                display: none;
//            }
        }
//        &:hover {
//            img {
//                display: none;
//                & + img {
//                    display: block;
//                    transform: scale(2);
//                    transition: transform 300ms ease-in;
//                }
//            }
//        }
    }
}


















