@import 'common';

/* 메인페이지 완료되면 Header CSS 제거 */
.sub {
    #header {
        #gnb {
            ul {
                li {
                    ul {
//                        display: none !important;
                    }
                }
            }
        }
    }
    #content {
        background-color: #fff;
        .container {
            min-height: 500px;
        }
    }
}

/* 
    #header #gnb ul li ul 만 제거 
    이하로 작성되는 scss는 사용 2017-01-10
*/

label {
    font-size: 11px;
    color: #666;
    font-weight: 300;
    margin: 0;
    @media(min-width: $sm) {
        font-size: 13px;
    }
}
input[type=checkbox] {
    margin: 0;
}

.sub-title {
    font-size: 20px;
    color: cornflowerblue;
    font-weight: 400;
    margin: 30px 0 15px;
}

/* page-path */
.page-path {
    .breadcrumb {
        padding: 14px 0 14px;
        margin-bottom: 0;
        border-radius: 0;
        background-color: #fff;
        margin-bottom: 38px;
        li {
            font-size: 10px;
            color: #ccc;
            font-weight: 300;
            a {
                font-size: 10px;
                color: #ccc;
                font-weight: 300;
                i {
                    font-size: 10px;
                    color: #2b2b2b;
                    font-weight: 300;
                }
            }
            &:before {
                font-size: 10px;
                color: #ccc;
                font-family: "fontello";
                content: "\E804";
                padding-right: 8px;
            }
            &:first-child:before {
                content: "";
                padding: 0;
            }
            @media(min-width: $sm) {
                font-size: 11px;
                font-weight: 300;
                &:before {
                    font-size: 11px;
                }
                a {
                    font-size: 11px;
                    i {
                        font-size: 11px;
                    }
                }
            }
        }
        @media(min-width: $md) {
            margin-bottom: 82px;
        }
        @media(min-width: $lg) {
            margin-bottom: 60px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }
}

/* step-list */
.step-list {
    font-size: 0;
    text-align: center;
    li {
        display: inline-block;
        width: 33.33%;
        font-size: 12px;
        color: #999;
        text-align: center;
        border: 1px solid #dbdbdb;
        border-right: 0;
        padding: 17px 0 20px;
        > p {
            margin-bottom: 13px;
        }
        > h3 {
            font-size: 12px;
            color: #999;
            font-weight: 400;
            > i {
                font-size: 12px;
                color: #999;
                display: block;
                font-style: normal;
                margin-bottom: 6px;
                @include lato();
            }
        }
        &:last-child {
            border-right: 1px solid #dbdbdb;
        }
        &.active {
            border-color: #2b2b2b;
            background-color: #2b2b2b;
            > h3 {
                color: #fff;
                > i {
                    color: #fff;
                }
            }
        }
    }
    @media(min-width: $sm) {
        li {
            padding: 15px 0;
            > p {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 20px;
            }
            > h3 {
                display: inline-block;
                font-size: 13px;
                > i {
                    display: inline-block;
                    font-size: 13px;
                    margin-right: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
    @media(min-width: $md) {
        li {
            &.active {
                border-color: #dbdbdb;
            }
        }
    }
}


/* btn-area */
.btn-area {
    p {
        font-size: 0;
        text-align: center;
        .btn {
            display: inline-block;
            padding: 0;
            border-radius: 0;
        }
        .btn-lg {
            display: block;
            margin: 0 auto;
            width: 300px;
            height: 35px;
            font-size: 12px;
            color: #666;
            line-height: 33px;
            text-align: center;
            border: 1px solid #aaa;
            @media(min-width: $sm) {
                height: 40px;
                line-height: 38px;
            }
            @media(min-width: $md) {
                width: 370px;
                font-size: 13px;
            }
        }
        .btn-sucess {
            display: block;
            margin: 0 auto;
        }
        .btn-sm {
            width: 145px;
            height: 40px;
            font-size: 11px;
            color: #666;
            line-height: 38px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            @media(min-width: $sm) {
                margin-right: 20px;
            }
            @media(min-width: $md) {
                width: 172px;
                font-size: 12px;
            }
        }
        .btn-white {
            border: 1px solid #ccc;
        }
        .btn-gray {
            color: #fff;
            border-color: #2b2b2b;
            background-color: #2b2b2b;
        }
    }
}

/* nav-tabs */
.lnb {
    h2 {
        font-size: 12px;
        color: #2b2b2b;
        text-align: left;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul {
        font-size: 0;
        text-align: center;
        li {
            display: inline-block;
            margin-right: 10px;
            a {
                display: block;
                width: 140px;
                height: 35px;
                font-size: 11px;
                color: #2b2b2b;
                line-height: 33px;
                text-align: center;
                border: 1px solid #aaa;
                @include lato();
            }
            &.active {
                a {
                    color: #fff;
                    border-color: #2b2b2b;
                    background-color: #2b2b2b;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        @media(min-width: $sm) {
            li {
                margin-right: 20px;
                a {
                    font-size: 12px;
                    width: 166px;
                    height: 40px;
                    line-height: 38px;
                }
            }
        }
        @media(min-width: $lg) {
            text-align: left;
            padding-left: 10px;
            li {
                display: block;
                margin: 0;
                a {
                    display: inline;
                    text-align: left;
                    font-size: 12px;
                    border: 0;
                    line-height: 25px;
                }
                &.active {
                    a {
                        color: #2b2b2b;
                        background-color: #fff;
                        border-bottom: 2px solid #aaa;
                    }
                }
            }
        }
    }
}
.glasses-list {
    margin-top: 80px;
    .glasses {
        height: 130px;
        text-align: center;
        margin-bottom: 80px;
        border: 1px solid #ccc;
    }
    @media(min-width: $lg) {
        margin-top: 0;
    }
}

/* terms */
.terms {
    > h3 {
        font-size: 12px;
        color: #222;
        margin-bottom: 10px;
    }
    .summary {
        overflow-y: scroll;
        width: 100%;
        min-height: 350px;
        font-size: 13px;
        color: #666;
        line-height: 20px;
        padding: 26px 20px;
        border: 1px solid #dfdfdf;
        background-color: #f4f4f4;
    }
    .form-group {
        padding-top: 20px;
        margin-bottom: 0;
        .check {
            input[type=checkbox] {
                vertical-align: middle;
                margin-top: -3px;
                margin-right: 10px;
            }
        }
    }
    @media(min-width: $sm) {
        > h3 {
            font-size: 13px;
            margin-bottom: 20px;
        }
        .summary {
            font-size: 13px;
            line-height: 24px;
        }
    }
    @media(min-width: $md) {
        > h3 {
            font-size: 14px;
        }
        .summary {
            font-size: 14px;
            line-height: 28px;
        }
    }
}

/* nav-tabs */
.nav-tabs {
    overflow: hidden;
    border-bottom: 0;
    li {
        position: relative;
        float: left;
        width: 50%;
        height: 47px;
        margin-bottom: 0;
        background-color: #f5f5f5;
        border: 1px solid #e2e2e2;
        border-bottom: 1px solid #000;
        a {
            font-size: 11px;
            color: #acacac;
            display: block;
            text-align: center;
            line-height: 45px;
            padding: 0;
            margin-right: 0;
            border: 0;
            border-radius: 0;
            &:hover,&:focus {
                text-decoration: none;
                border: 0;
                background: none;
            }
        }
        &.active {
            border: 1px solid #000;
            a {
                position: absolute;
                top: 0px;
                width: 100%;
                color: #2b2b2b;
                border: 0;
                height: 46px;
                background-color: #fff;
                &:hover,&:focus {
                    color: #2b2b2b;
                    text-decoration: none;
                    border: 0;
                }
            }
        }
        &:first-child {
            border-right: 0;
            &.active {
                border-right: 1px solid #000;
            }
        }
        &:last-child {
            border-left: 0;
            &.active {
                border-left: 1px solid #000;
            }
        }
    }
    @media(min-width: $sm) {
        li {
            a {
                font-size: 13px;
            }
        }
    }
}
.tab-content {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    border-top: 0;
}


































