
.icon-home:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-down-open-mini:before { content: '\e802'; } /* '' */
.icon-left-open-mini:before { content: '\e803'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-up-open-mini:before { content: '\e805'; } /* '' */
.icon-dot:before { content: '\e806'; } /* '' */
.icon-down-small:before { content: '\e807'; } /* '' */
.icon-left-small:before { content: '\e808'; } /* '' */
.icon-right-small:before { content: '\e809'; } /* '' */
.icon-up-small:before { content: '\e80a'; } /* '' */
.icon-up-circle:before { content: '\e80b'; } /* '' */
.icon-down-circle:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */